# Dodaj u .env.local nakon što napraviš projekt na sentry.io
NEXT_PUBLIC_SENTRY_DSN=https://YOUR_DSN_HERE@o0.ingest.sentry.io/0
SENTRY_ORG=lwlup
SENTRY_PROJECT=lwlup-coaching
SENTRY_AUTH_TOKEN=YOUR_AUTH_TOKEN_HERE
